.container-fluid {
    background-color: lightgreen;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-wrapper {
    background-color: white;
}

.form-body {
    margin: 2rem;
}