.sidebar {
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sidebar-nav-link {
	color: var(--dark);
}

@media screen and (min-width: 991px) {
	.sidebar {
		height: calc(100vh - 58px);
	}
	.sidebar-nav {
		height: 100%;
	}
}
