.user-card{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content min-content;
    background-color: var(--dark);
    color: white;
}
.user-img{
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    padding-right: 1rem;
}
.user-details{
    display: flex;
    justify-content: flex-start;
}